@use '../settings/settings' as *;
@use '../settings/mixins' as *;


.header {
   padding-block: toRem(25);
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   z-index: 100;
   transition: all 0.3s;

   // &::before {
   //    content: "";
   //    position: absolute;
   //    top: 0;
   //    left: 0;
   //    background: rgba(26, 30, 35, 0.6);
   //    backdrop-filter: blur(10px);
   //    width: 100%;
   //    height: 100%;
   //    z-index: -1;
   // }

   &.scrolled {
      &::before {
         background: rgba(26, 30, 35, 0.6);
         backdrop-filter: blur(10px);
      }
   }

   // .header__container
   &__container {}

   &__inner {
      display: flex;
      align-items: center;
      justify-content: space-between;
      @include adaptiveValue('gap', 30, 15);
   }

   // .header__menu
   &__menu {
      // delete
      flex-grow: 1;
   }
}

.menu-header {

   @media (max-width: toEm($mobile)) {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      background-color: $white;
      padding: toRem(120) toRem(15) toRem(30) toRem(15);
      transition: all 0.3s;

      .menu-open & {
         right: 0;
      }

      &::before {
         content: "";
         position: fixed;
         top: 0;
         right: -100%;
         width: 100%;
         min-height: toRem(90);
         background-color: $white;
         transition: all 0.3s;

         .menu-open & {
            right: 0;
         }
      }
   }

   // .menu-header__list
   &__list {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiveValue('gap', 30, 10);

      @media (max-width: toEm($mobile)) {
         display: flex;
         flex-direction: column;
         gap: toRem(30);
         // align-items: center;
         align-items: flex-end;
      }
   }

   // .menu-header__item
   &__item {

      @media (max-width: toEm($mobile)) {
        color: $black;
      }
   }

   // .menu-header__link
   &__link {}
}

// ===========================================================================================
// -----------------------------
// Menu-dropdown
// -----------------------------
.menu-dropdown {

   // .menu-dropdown__list
   &__list {
      display: flex;
      align-items: center;
      gap: toRem(20);
   }

   // .menu-dropdown__item
   &__item {

      // .menu-dropdown__item--submenu
      &--submenu {
         position: relative;

         &.is-active {
            .menu-dropdown__submenu {
               opacity: 1;
               visibility: visible;
               pointer-events: auto;
               transform: translateY(0);
            }
         }
      }
   }

   // .menu-dropdown__link
   &__link {
      padding: 10px 15px;
      display: inline-block;
      color: $black;
      text-decoration: none;
      transition: background-color 0.2s, color 0.2s;

      // Hover на mouse
      @include hover {
         background-color: #333;
         color: #0f0;
      }

      // Tap на touch/pen
      // @include tap {
      //    background-color: #555;
      //    color: #ff0;
      // }

      // Focus на keyboard
      @include focus {
         outline: 2px solid #00f;
         background-color: #222;
      }
   }

   // .menu-dropdown__submenu
   &__submenu {
      position: absolute;
      top: 100%;
      left: 0;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transform: translateY(-15px);
      transition:
         opacity .3s ease,
         transform .3s ease,
         visibility .3s ease;
   }
}

.submenu-dropdown {
   position: absolute;
   top: 100%;
   left: 0;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: toRem(10);
   background-color: #444;
   padding: 10px 0;
   min-width: 150px;
   z-index: 10;
   padding-left: toRem(10);

   // .submenu-dropdowne__link
   &__link {}
}

