@use '../settings/settings' as *;
@use '../settings/mixins' as *;

.page {
   padding-block: toRem(100);

   &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: toRem(50);
   }
}






